body {
  background-color: #ecf0f1;
  padding: 20px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  padding: 10px;
}

.user-outer {
  width: 100%;
  height: 250px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f5f6e0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.avatar-outer {
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: wheat;
}

.avatar-outer img{
    width: 100%;
    height: auto;
    max-height: 100%;
}

.user-data {
    flex: 1;
    padding: 10px;
}

.search-outer {
  width: 100%;
  height: 100px;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}